PORT=4000
DB_URI=DB_URI=mongodb+srv://khairerushikesh38:<PASSWORD>@cluster0.mongodb.net/recruitify?retryWrites=true&w=majority
JWT_SECRET=218e79ffdb40b666456ad5214ad74346a6ec1dba7cf484e08d6ebcbf79523a95eb1ed5342bcc3273c3ffd73414cc6c23966b372635431b531379cb36a66ac608
JWT_EXPIRE=5d
NODE_ENV=NOT
COOKIE_EXPIRE=5
SMPT_HOST=smtp.gmail.com
SMPT_PORT=465
SMPT_SERVICE=gmail
SMPT_MAIL=wey6
SMPT_PASSWORD=<YOUR_SMPT_PASSWORD>
EMAIL_FROM=<YOUR_EMAIL>
AWS_BUCKET_NAME=<YOUR_AWS_BUCKET_NAME>
AWS_BUCKET_REGION=<YOUR_AWS_BUCKET_REGION>
AWS_ACCESS_KEY=<YOUR_AWS_ACCESS_KEY>
AWS_SECRET_ACCESS_KEY=<YOUR_AWS_SECRET_ACCESS_KEY>
REDIS_URL=redis://:MyStrongPass123!@127.0.0.1:6379

CLIENT_URL=http://localhost:3000